.wrap-auth {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-auth__register {
    background-color: #00000076;
    width: 40%;
    height: 85vh;
}

.container-auth__login {
  background-color: #00000076;
  width: 40%;
  height: 60vh;
}

.title {
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
    font-size: 26px;
    display:flex;
    align-items: center;
}

.title img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

.auth-form input {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
  }

  .auth-form input::placeholder {
    color: #fff;
    font-size: 16px;
  }

  .auth-form input:focus {
    outline: none;
    border: 2px solid #adb5bd;
  }
  
  .btn_submit {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }

  .text {
    color: #fff;
    font-size: 20px;
  }

  .text a {
    margin-left: 6px;
    color: #fff;
  }

