.logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .logout-button:hover {
    color: #007bff;
  }